/* метод называется кастомные css свойства */
:root {
	--primary-text-color: rgba(0, 0, 0, 0.8);
	--title-text-color: #000000;
	--accent-color: #18a0fb;
	--primary-white-color: #ffffff;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Montserrat, sans-serif;
	letter-spacing: -0.015em;
	font-size: 18px;
	line-height: 1.67;
}

/* logo */

.logo {
	color: var(--title-text-color);

	font-family: Comfortaa, cursive;
	font-size: 28px;
	line-height: 1.14;

	text-decoration: none;
}

.logo:hover {
	color: var(--accent-color);
}

/* site-nav */

.site-nav .link {
	color: var(--accent-color);

	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;

	text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--title-text-color);
}

/* footer */

.copyright {
	font-size: 15px;
	line-height: 1.6;
}

.social > .label {
	font-size: 15px;
	line-height: 1.6;
}
