/* цвет основного текста #000000 */
/* вторичный цвет текста rgba(0, 0, 0, 0.8) */
/* белый #ffffff */
/* цвет акцент #18a0fb */
/* вторичный цвет фона #F5F5F5 */

.list {
	list-style: none;
}

/* hero */

.hero-title {
	color: var(--title-text-color);

	font-weight: 400;
	font-size: 56px;
	line-height: 1.42;
	text-align: center;
}

/* section */

.section-title {
	color: var(--title-text-color);

	font-weight: 400;
	font-size: 48px;
	line-height: 1.5;
	text-align: center;
}

.section-description {
	font-size: 36px;
	line-height: 1.39;
}

/* feature */

.feature-list .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 24px;
	line-height: 1.5;
}

/* examples */

.work-list .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 24px;
	line-height: 1.5;
}

/* button */

.button {
	color: var(--title-text-color);
	background-color: var(--primary-white-color);

	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;

	text-decoration: none;
}

.button.primary {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.button.secondary {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
}
